Repository ONDC-Official/verification-logs, pull requests merged in 2024-09, with the labels that each got.

#1640 IGM Logs
  TRV11/Yatri/IGM/issue.json
  TRV11/Yatri/IGM/issue_close.json
  TRV11/Yatri/IGM/issue_status.json
  TRV11/Yatri/IGM/on_issue.json
  TRV11/Yatri/IGM/on_issue_status.json
Labels: IGM

#1669 RSF Logs (DMRC)
  TRV11/DMRC/RSF/Flow 1/on_receiver_recon.json
  TRV11/DMRC/RSF/Flow 1/receiver_recon.json
  TRV11/DMRC/RSF/Flow 2 (Correction)/on_receiver_recon.json
  TRV11/DMRC/RSF/Flow 2 (Correction)/receiver_recon.json
Labels: RSF

#1649 Tech Logs for DMRC (ONDC:TRV11)
  TRV11/DMRC/Flow 1/confirm.json
  TRV11/DMRC/Flow 1/init.json
  TRV11/DMRC/Flow 1/on_confirm.json
  TRV11/DMRC/Flow 1/on_init.json
  TRV11/DMRC/Flow 1/on_search(fare).json
  TRV11/DMRC/Flow 1/on_search(stations).json
  TRV11/DMRC/Flow 1/on_select.json
  TRV11/DMRC/Flow 1/search(fare).json
  TRV11/DMRC/Flow 1/search(stations).json
  TRV11/DMRC/Flow 1/select.json
  TRV11/DMRC/Flow 2/cancel.json
  TRV11/DMRC/Flow 2/confirm.json
  TRV11/DMRC/Flow 2/init.json
  TRV11/DMRC/Flow 2/on_cancel.json
  TRV11/DMRC/Flow 2/on_confirm.json
  TRV11/DMRC/Flow 2/on_init.json
  TRV11/DMRC/Flow 2/on_search(fare).json
  TRV11/DMRC/Flow 2/on_search(stations).json
  TRV11/DMRC/Flow 2/on_select.json
  TRV11/DMRC/Flow 2/search(fare).json
  TRV11/DMRC/Flow 2/search(stations).json
  TRV11/DMRC/Flow 2/select.json
Labels: TRV-11

#1650 RSF and IGM flow logs
  TRV11/Vaipratech/IGM/issue.txt
  TRV11/Vaipratech/IGM/issue_status.txt
  TRV11/Vaipratech/IGM/on_issue.txt
  TRV11/Vaipratech/IGM/on_issue_status.txt
  TRV11/Vaipratech/RSF/Correction/on_receiver_recon.txt
  TRV11/Vaipratech/RSF/Correction/receiver_recon.txt
  TRV11/Vaipratech/RSF/Success/on_receiver_recon.txt
  TRV11/Vaipratech/RSF/Success/receiver_recon.txt
Labels: RSF, IGM

#1653 Appreciate wealth - lump sum, redemption and search pre prod logs
  FIS14/Appreciate/lumpsum_existing_folio/1_select.json
  FIS14/Appreciate/lumpsum_existing_folio/2_on_select.json
  FIS14/Appreciate/lumpsum_existing_folio/3_init.json
  FIS14/Appreciate/lumpsum_existing_folio/4_on_init.json
  FIS14/Appreciate/lumpsum_existing_folio/5_confirm.json
  FIS14/Appreciate/lumpsum_existing_folio/6_on_confirm.json
  FIS14/Appreciate/lumpsum_existing_folio/7_on_status.json
  FIS14/Appreciate/lumpsum_existing_folio/8_on_update.json
  FIS14/Appreciate/lumpsum_new_folio/10_on_update.json
  FIS14/Appreciate/lumpsum_new_folio/1_select_1.json
  FIS14/Appreciate/lumpsum_new_folio/2_on_select_1.json
  FIS14/Appreciate/lumpsum_new_folio/3_select_2.json
  FIS14/Appreciate/lumpsum_new_folio/4_on_select_2.json
  FIS14/Appreciate/lumpsum_new_folio/5_init.json
  FIS14/Appreciate/lumpsum_new_folio/6_on_init.json
  FIS14/Appreciate/lumpsum_new_folio/7_confirm.json
  FIS14/Appreciate/lumpsum_new_folio/8_on_confirm.json
  FIS14/Appreciate/lumpsum_new_folio/9_on_status.json
  FIS14/Appreciate/lumpsum_payment_retry/10_on_status.json
  FIS14/Appreciate/lumpsum_payment_retry/11_on_update_3.json
  FIS14/Appreciate/lumpsum_payment_retry/1_select.json
  FIS14/Appreciate/lumpsum_payment_retry/2_on_select.json
  FIS14/Appreciate/lumpsum_payment_retry/3_init.json
  FIS14/Appreciate/lumpsum_payment_retry/4_on_init.json
  FIS14/Appreciate/lumpsum_payment_retry/5_confirm.json
  FIS14/Appreciate/lumpsum_payment_retry/6_on_confirm.json
  FIS14/Appreciate/lumpsum_payment_retry/7_on_update_1.json
  FIS14/Appreciate/lumpsum_payment_retry/8_update.json
  FIS14/Appreciate/lumpsum_payment_retry/9_on_update_2.json
  FIS14/Appreciate/redemption/1_select.json
  FIS14/Appreciate/redemption/2_on_select.json
  FIS14/Appreciate/redemption/3_init.json
  FIS14/Appreciate/redemption/4_on_init.json
  FIS14/Appreciate/redemption/5_confirm.json
  FIS14/Appreciate/redemption/6_on_confirm.json
  FIS14/Appreciate/redemption/7_on_update.json
  FIS14/Appreciate/redemption_failure/1_select.json
  FIS14/Appreciate/redemption_failure/2_on_select.json
  FIS14/Appreciate/redemption_failure/3_init.json
  FIS14/Appreciate/redemption_failure/4_on_init.json
  FIS14/Appreciate/redemption_failure/5_confirm.json
  FIS14/Appreciate/redemption_failure/6_on_confirm.json
  FIS14/Appreciate/redemption_failure/7_on_update.json
  FIS14/Appreciate/search_logs/1_search.json
  FIS14/Appreciate/search_logs/2_onsearch.json
  FIS14/Appreciate/search_logs/search_incremental_pull/1_search.json
  FIS14/Appreciate/search_logs/search_incremental_pull/2_on_search.json
Labels: FIS-14

#1629 Log Submission of Metro TRV11 (TSP Seller App)
  TRV11/InnvonixTechSolutions/Flow-1/confirm.json
  TRV11/InnvonixTechSolutions/Flow-1/init.json
  TRV11/InnvonixTechSolutions/Flow-1/on_confirm.json
  TRV11/InnvonixTechSolutions/Flow-1/on_init.json
  TRV11/InnvonixTechSolutions/Flow-1/on_search_1.json
  TRV11/InnvonixTechSolutions/Flow-1/on_search_2.json
  TRV11/InnvonixTechSolutions/Flow-1/on_select.json
  TRV11/InnvonixTechSolutions/Flow-1/on_status.json
  TRV11/InnvonixTechSolutions/Flow-1/search_1.json
  TRV11/InnvonixTechSolutions/Flow-1/search_2.json
  TRV11/InnvonixTechSolutions/Flow-1/select.json
  TRV11/InnvonixTechSolutions/Flow-1/status.json
  TRV11/InnvonixTechSolutions/Flow-2/cancel_confirm_cancel.json
  TRV11/InnvonixTechSolutions/Flow-2/cancel_soft_cancel.json
  TRV11/InnvonixTechSolutions/Flow-2/on_cancel_confirm_cancel.json
  TRV11/InnvonixTechSolutions/Flow-2/on_cancel_soft_cancel.json
  TRV11/InnvonixTechSolutions/IGM/issue_1.json
  TRV11/InnvonixTechSolutions/IGM/issue_2.json
  TRV11/InnvonixTechSolutions/IGM/issue_status_1.json
  TRV11/InnvonixTechSolutions/IGM/issue_status_2.json
  TRV11/InnvonixTechSolutions/IGM/on_issue_1.json
  TRV11/InnvonixTechSolutions/IGM/on_issue_status_1.json
  TRV11/InnvonixTechSolutions/IGM/on_issue_status_2.json
  TRV11/InnvonixTechSolutions/RSF/flow1/on_receiver_recon.json
  TRV11/InnvonixTechSolutions/RSF/flow1/receiver_recon.json
  TRV11/InnvonixTechSolutions/RSF/flow2(correction-flow)/on_receiver_recon.json
  TRV11/InnvonixTechSolutions/RSF/flow2(correction-flow)/receiver_recon.json
Labels: TRV-11, RSF, IGM

#1688 Jtechnoparks IGM logs submission
  FIS12/Jtechnoparks/Flow7_IGM/issue.json
  FIS12/Jtechnoparks/Flow7_IGM/issue_close.json
  FIS12/Jtechnoparks/Flow7_IGM/issue_status.json
  FIS12/Jtechnoparks/Flow7_IGM/on_issue.json
  FIS12/Jtechnoparks/Flow7_IGM/on_issue_status.json
Labels: IGM
