Repository ONDC-Official/verification-logs, pull requests merged in 2024-07, with the labels that each got.

#1573 Abhibus verification logs
  TRV11/.DS_Store
  TRV11/Abhibus/.DS_Store
  TRV11/Abhibus/Booking Flow/confirm.json
  TRV11/Abhibus/Booking Flow/init.json
  TRV11/Abhibus/Booking Flow/on_confirm.json
  TRV11/Abhibus/Booking Flow/on_init.json
  TRV11/Abhibus/Booking Flow/on_search.json
  TRV11/Abhibus/Booking Flow/on_search2.json
  TRV11/Abhibus/Booking Flow/on_status.json
  TRV11/Abhibus/Booking Flow/search.json
  TRV11/Abhibus/Booking Flow/search2.json
  TRV11/Abhibus/Booking Flow/status.json
  TRV11/Abhibus/Cancellation Flow/cancel.json
  TRV11/Abhibus/Cancellation Flow/cancel2.json
  TRV11/Abhibus/Cancellation Flow/on_cancel.json
  TRV11/Abhibus/Cancellation Flow/on_cancel2.json
  TRV11/Abhibus/RSF Flow/Correction Flow/receiver_recon2.json
  TRV11/Abhibus/RSF Flow/Success Flow/on_receiver_recon.json
  TRV11/Abhibus/RSF Flow/Success Flow/receiver_recon.json
Labels: TRV-11

#1512 Kanpur metro verification logs
  TRV11/KanpurSellerApp/Flow 1 (Station Code Flow)/confirm.json
  TRV11/KanpurSellerApp/Flow 1 (Station Code Flow)/init.json
  TRV11/KanpurSellerApp/Flow 1 (Station Code Flow)/on_confirm.json
  TRV11/KanpurSellerApp/Flow 1 (Station Code Flow)/on_init.json
  TRV11/KanpurSellerApp/Flow 1 (Station Code Flow)/on_search1.json
  TRV11/KanpurSellerApp/Flow 1 (Station Code Flow)/on_search2.json
  TRV11/KanpurSellerApp/Flow 1 (Station Code Flow)/on_status.json
  TRV11/KanpurSellerApp/Flow 1 (Station Code Flow)/search1.json
  TRV11/KanpurSellerApp/Flow 1 (Station Code Flow)/search2.json
  TRV11/KanpurSellerApp/Flow 1 (Station Code Flow)/status.json
  TRV11/KanpurSellerApp/Flow 2 (Actual Cancellation Flow)/cancel1.json
  TRV11/KanpurSellerApp/Flow 2 (Actual Cancellation Flow)/cancel2.json
  TRV11/KanpurSellerApp/Flow 2 (Actual Cancellation Flow)/on_cancel1.json
  TRV11/KanpurSellerApp/Flow 2 (Actual Cancellation Flow)/on_cancel2.json
  TRV11/KanpurSellerApp/Flow 3 (Technical Cancellation Flow )/cancel1.json
  TRV11/KanpurSellerApp/Flow 3 (Technical Cancellation Flow )/cancel2.json
  TRV11/KanpurSellerApp/Flow 3 (Technical Cancellation Flow )/on_cancel1.json
  TRV11/KanpurSellerApp/Flow 3 (Technical Cancellation Flow )/on_cancel2.json
Labels: TRV-11

#1567 Added logs for preprod env
  TRV11/Chalo/.DS_Store
  TRV11/Chalo/flow-1/confirm.json
  TRV11/Chalo/flow-1/init.json
  TRV11/Chalo/flow-1/on_confirm.json
  TRV11/Chalo/flow-1/on_init.json
  TRV11/Chalo/flow-1/on_search1.json
  TRV11/Chalo/flow-1/on_search2.json
  TRV11/Chalo/flow-1/on_select.json
  TRV11/Chalo/flow-1/search1.json
  TRV11/Chalo/flow-1/search_2.json
  TRV11/Chalo/flow-1/select.json
  TRV11/Chalo/flow-2/cancel.json
  TRV11/Chalo/flow-2/on_cancel.json
Labels: TRV-11

#1585 ONDC:TRV10 (On Demand Ride Booking) Tech Logs
  TRV10/Pramaan/Flow 1/confirm.json
  TRV10/Pramaan/Flow 1/init.json
  TRV10/Pramaan/Flow 1/on_confirm.json
  TRV10/Pramaan/Flow 1/on_init.json
  TRV10/Pramaan/Flow 1/on_search.json
  TRV10/Pramaan/Flow 1/on_select.json
  TRV10/Pramaan/Flow 1/search.json
  TRV10/Pramaan/Flow 1/select.json
  TRV10/Pramaan/Flow 1/unsolicited_on_update.json
  TRV10/Pramaan/Flow 2/cancel_1.json
  TRV10/Pramaan/Flow 2/cancel_2.json
  TRV10/Pramaan/Flow 2/confirm.json
  TRV10/Pramaan/Flow 2/init.json
  TRV10/Pramaan/Flow 2/on_cancel_1.json
  TRV10/Pramaan/Flow 2/on_cancel_2.json
  TRV10/Pramaan/Flow 2/on_confirm.json
  TRV10/Pramaan/Flow 2/on_init.json
  TRV10/Pramaan/Flow 2/on_search.json
  TRV10/Pramaan/Flow 2/on_select.json
  TRV10/Pramaan/Flow 2/search.json
  TRV10/Pramaan/Flow 2/select.json
  TRV10/Pramaan/Flow 2/unsolicited_on_update.json
  TRV10/Pramaan/Flow 3/confirm.json
  TRV10/Pramaan/Flow 3/init.json
  TRV10/Pramaan/Flow 3/on_confirm.json
  TRV10/Pramaan/Flow 3/on_init.json
  TRV10/Pramaan/Flow 3/on_search.json
  TRV10/Pramaan/Flow 3/on_select.json
  TRV10/Pramaan/Flow 3/search.json
  TRV10/Pramaan/Flow 3/select.json
  TRV10/Pramaan/Flow 3/unsolicited_on_cancel.json
  TRV10/Pramaan/Flow 3/unsolicited_on_update.json
Labels: TRV-10, Pramaan

#1588 tummoc_rsf_logs_for_metro
  TRV11/Tummoc/RSF/flow1/on_receiver_recon.json
  TRV11/Tummoc/RSF/flow1/receiver_recon.json
  TRV11/Tummoc/RSF/flow2(Correction)/on_receiver_recon.json
  TRV11/Tummoc/RSF/flow2(Correction)/receiver_recon.json
Labels: RSF

#1568 added the NammaYatri Rsf logs for both success and Correction Flow
  TRV11/NammaYatri/RSF/Flow1/on_receiver_recon.json
  TRV11/NammaYatri/RSF/Flow1/receiver_recon.json
  TRV11/NammaYatri/RSF/Flow2-Correction/on_receiver_recon.json
  TRV11/NammaYatri/RSF/Flow2-Correction/receiver_recon.json
Labels: RSF
