Repository ONDC-Official/verification-logs, pull requests merged in 2024-08, with the labels that each got.

#1591 IGM logs
  TRV11/redbus/IGM/issue.json
  TRV11/redbus/IGM/issueStatus.json
  TRV11/redbus/IGM/onIssue.json
  TRV11/redbus/IGM/onIssueStatus.json
Labels: IGM

#1581 Tech Logs Submission for TRV12 - Mobility Airline
  TRV12/Pramaan/Flow-1/confirm.json
  TRV12/Pramaan/Flow-1/init.json
  TRV12/Pramaan/Flow-1/on_confirm.json
  TRV12/Pramaan/Flow-1/on_init.json
  TRV12/Pramaan/Flow-1/on_search_1.json
  TRV12/Pramaan/Flow-1/on_select_1.json
  TRV12/Pramaan/Flow-1/on_select_2.json
  TRV12/Pramaan/Flow-1/search_1.json
  TRV12/Pramaan/Flow-1/select_1.json
  TRV12/Pramaan/Flow-1/select_2.json
  TRV12/Pramaan/Flow-2/confirm.json
  TRV12/Pramaan/Flow-2/init.json
  TRV12/Pramaan/Flow-2/on_confirm.json
  TRV12/Pramaan/Flow-2/on_init.json
  TRV12/Pramaan/Flow-2/on_search_1.json
  TRV12/Pramaan/Flow-2/on_select_1.json
  TRV12/Pramaan/Flow-2/on_select_2.json
  TRV12/Pramaan/Flow-2/search_1.json
  TRV12/Pramaan/Flow-2/select_1.json
  TRV12/Pramaan/Flow-2/select_2.json
  TRV12/Pramaan/Flow-3/cancel_1.json
  TRV12/Pramaan/Flow-3/confirm.json
  TRV12/Pramaan/Flow-3/init.json
  TRV12/Pramaan/Flow-3/on_cancel_1.json
  TRV12/Pramaan/Flow-3/on_confirm.json
  TRV12/Pramaan/Flow-3/on_init.json
  TRV12/Pramaan/Flow-3/on_search_1.json
  TRV12/Pramaan/Flow-3/on_select_1.json
  TRV12/Pramaan/Flow-3/on_select_2.json
  TRV12/Pramaan/Flow-3/search_1.json
  TRV12/Pramaan/Flow-3/select_1.json
  TRV12/Pramaan/Flow-3/select_2.json
Labels: TRV-12, Pramaan

#1537 Tech Logs for TRV11 (Intracity Bus)
  TRV11/Pramaan/Intracity/Bus/Flow 1/confirm.json
  TRV11/Pramaan/Intracity/Bus/Flow 1/init_1.json
  TRV11/Pramaan/Intracity/Bus/Flow 1/on_confirm.json
  TRV11/Pramaan/Intracity/Bus/Flow 1/on_init_1.json
  TRV11/Pramaan/Intracity/Bus/Flow 1/on_search(fare).json
  TRV11/Pramaan/Intracity/Bus/Flow 1/on_search(stations).json
  TRV11/Pramaan/Intracity/Bus/Flow 1/on_select_1.json
  TRV11/Pramaan/Intracity/Bus/Flow 1/search(fare).json
  TRV11/Pramaan/Intracity/Bus/Flow 1/search(stations).json
  TRV11/Pramaan/Intracity/Bus/Flow 1/select_1.json
  TRV11/Pramaan/Intracity/Bus/Flow 2/cancel(hard).json
  TRV11/Pramaan/Intracity/Bus/Flow 2/cancel(soft).json
  TRV11/Pramaan/Intracity/Bus/Flow 2/confirm.json
  TRV11/Pramaan/Intracity/Bus/Flow 2/init_1.json
  TRV11/Pramaan/Intracity/Bus/Flow 2/on_cancel(hard).json
  TRV11/Pramaan/Intracity/Bus/Flow 2/on_cancel(soft).json
  TRV11/Pramaan/Intracity/Bus/Flow 2/on_confirm.json
  TRV11/Pramaan/Intracity/Bus/Flow 2/on_init_1.json
  TRV11/Pramaan/Intracity/Bus/Flow 2/on_search(fare).json
  TRV11/Pramaan/Intracity/Bus/Flow 2/on_search(stations).json
  TRV11/Pramaan/Intracity/Bus/Flow 2/on_select_1.json
  TRV11/Pramaan/Intracity/Bus/Flow 2/search(fare).json
  TRV11/Pramaan/Intracity/Bus/Flow 2/search(stations).json
  TRV11/Pramaan/Intracity/Bus/Flow 2/select_1.json
  TRV11/Sequelstring/Flow 1/confirm.json
  TRV11/Sequelstring/Flow 1/init.json
  TRV11/Sequelstring/Flow 1/on_confirm.json
  TRV11/Sequelstring/Flow 1/on_init.json
  TRV11/Sequelstring/Flow 1/on_search(fare).json
  TRV11/Sequelstring/Flow 1/on_search(stations).json
  TRV11/Sequelstring/Flow 1/on_select.json
  TRV11/Sequelstring/Flow 1/search(fare).json
  TRV11/Sequelstring/Flow 1/search(stations).json
  TRV11/Sequelstring/Flow 1/select.json
  TRV11/Sequelstring/Flow 2/cancel(hard).json
  TRV11/Sequelstring/Flow 2/cancel(soft).json
  TRV11/Sequelstring/Flow 2/confirm.json
  TRV11/Sequelstring/Flow 2/init.json
  TRV11/Sequelstring/Flow 2/on_cancel(hard).json
  TRV11/Sequelstring/Flow 2/on_cancel(soft).json
  TRV11/Sequelstring/Flow 2/on_confirm.json
  TRV11/Sequelstring/Flow 2/on_init.json
  TRV11/Sequelstring/Flow 2/on_search(fare).json
  TRV11/Sequelstring/Flow 2/on_search(stations).json
  TRV11/Sequelstring/Flow 2/on_select.json
  TRV11/Sequelstring/Flow 2/search(fare).json
  TRV11/Sequelstring/Flow 2/search(stations).json
  TRV11/Sequelstring/Flow 2/select.json
Labels: TRV-11, Pramaan

#1529 Health Insurance Tech Logs Submission for Verification
  FIS13/Pramaan/Health Insurance/Flow 1/confirm.json
  FIS13/Pramaan/Health Insurance/Flow 1/init_1.json
  FIS13/Pramaan/Health Insurance/Flow 1/init_2.json
  FIS13/Pramaan/Health Insurance/Flow 1/on_confirm.json
  FIS13/Pramaan/Health Insurance/Flow 1/on_init_1.json
  FIS13/Pramaan/Health Insurance/Flow 1/on_init_2.json
  FIS13/Pramaan/Health Insurance/Flow 1/on_search_1.json
  FIS13/Pramaan/Health Insurance/Flow 1/on_search_2.json
  FIS13/Pramaan/Health Insurance/Flow 1/on_select.json
  FIS13/Pramaan/Health Insurance/Flow 1/search_1.json
  FIS13/Pramaan/Health Insurance/Flow 1/search_2.json
  FIS13/Pramaan/Health Insurance/Flow 1/select.json
  FIS13/Pramaan/Health Insurance/Flow 1/unsolicited_on_status_ekyc.json
  FIS13/Pramaan/Health Insurance/Flow 2/confirm.json
  FIS13/Pramaan/Health Insurance/Flow 2/init_1.json
  FIS13/Pramaan/Health Insurance/Flow 2/init_2.json
  FIS13/Pramaan/Health Insurance/Flow 2/on_confirm.json
  FIS13/Pramaan/Health Insurance/Flow 2/on_init_1.json
  FIS13/Pramaan/Health Insurance/Flow 2/on_init_2.json
  FIS13/Pramaan/Health Insurance/Flow 2/on_search_1.json
  FIS13/Pramaan/Health Insurance/Flow 2/on_search_2.json
  FIS13/Pramaan/Health Insurance/Flow 2/on_select.json
  FIS13/Pramaan/Health Insurance/Flow 2/on_status_1.json
  FIS13/Pramaan/Health Insurance/Flow 2/on_status_2.json
  FIS13/Pramaan/Health Insurance/Flow 2/on_update_unsolicited_claim.json
  FIS13/Pramaan/Health Insurance/Flow 2/search_1.json
  FIS13/Pramaan/Health Insurance/Flow 2/search_2.json
  FIS13/Pramaan/Health Insurance/Flow 2/select.json
  FIS13/Pramaan/Health Insurance/Flow 2/status_1.json
  FIS13/Pramaan/Health Insurance/Flow 2/status_2.json
  FIS13/Pramaan/Health Insurance/Flow 2/unsolicited_on_status_ekyc.json
Labels: FIS-13

#1594 Yatri Logs commit
  TRV11/Yatri/Flow 1/confirm.json
  TRV11/Yatri/Flow 1/init.json
  TRV11/Yatri/Flow 1/on_confirm.json
  TRV11/Yatri/Flow 1/on_init.json
  TRV11/Yatri/Flow 1/on_search_1.json
  TRV11/Yatri/Flow 1/on_search_2.json
  TRV11/Yatri/Flow 1/on_status.json
  TRV11/Yatri/Flow 1/search_1.json
  TRV11/Yatri/Flow 1/search_2.json
  TRV11/Yatri/Flow 1/status.json
  TRV11/Yatri/Flow 3/confirm_cancel.json
  TRV11/Yatri/Flow 3/on_confirm.json
  TRV11/Yatri/Flow 3/on_confirm_cancel.json
  TRV11/Yatri/Flow 3/on_soft_cancel.json
  TRV11/Yatri/Flow 3/soft_cancel.json
Labels: TRV-11

#1596 TRV10
  TRV10/Passdn/Flow 1 (Happy flow ride)/confirm.json
  TRV10/Passdn/Flow 1 (Happy flow ride)/init.json
  TRV10/Passdn/Flow 1 (Happy flow ride)/on_confirm.json
  TRV10/Passdn/Flow 1 (Happy flow ride)/on_init.json
  TRV10/Passdn/Flow 1 (Happy flow ride)/on_search.json
  TRV10/Passdn/Flow 1 (Happy flow ride)/on_select.json
  TRV10/Passdn/Flow 1 (Happy flow ride)/on_status_driver_pickup.json
  TRV10/Passdn/Flow 1 (Happy flow ride)/on_status_end_ride.json
  TRV10/Passdn/Flow 1 (Happy flow ride)/on_status_start_ride.json
  TRV10/Passdn/Flow 1 (Happy flow ride)/search.json
  TRV10/Passdn/Flow 1 (Happy flow ride)/select.json
  TRV10/Passdn/Flow 2 (Rider cancel)/confirm_cancel.json
  TRV10/Passdn/Flow 2 (Rider cancel)/on_confirm_cancel.json
  TRV10/Passdn/Flow 2 (Rider cancel)/on_soft_cancel.json
  TRV10/Passdn/Flow 2 (Rider cancel)/soft_cancel.json
  TRV10/Passdn/Flow 3 (Driver Cancel)/on_cancel.json
Labels: TRV-10

#1631 Vaipratech logs
  TRV11/Vaipratech/Flow 1 (STATION-CODE-FLOW)/confirm.json
  TRV11/Vaipratech/Flow 1 (STATION-CODE-FLOW)/init.json
  TRV11/Vaipratech/Flow 1 (STATION-CODE-FLOW)/on_confirm.json
  TRV11/Vaipratech/Flow 1 (STATION-CODE-FLOW)/on_init.json
  TRV11/Vaipratech/Flow 1 (STATION-CODE-FLOW)/on_search_1.json
  TRV11/Vaipratech/Flow 1 (STATION-CODE-FLOW)/on_search_2.json
  TRV11/Vaipratech/Flow 1 (STATION-CODE-FLOW)/on_select.json
  TRV11/Vaipratech/Flow 1 (STATION-CODE-FLOW)/on_status.json
  TRV11/Vaipratech/Flow 1 (STATION-CODE-FLOW)/search_1.json
  TRV11/Vaipratech/Flow 1 (STATION-CODE-FLOW)/search_2.json
  TRV11/Vaipratech/Flow 1 (STATION-CODE-FLOW)/select.json
  TRV11/Vaipratech/Flow 1 (STATION-CODE-FLOW)/status.json
  TRV11/Vaipratech/Flow 2 (USER-CANCEL-FLOW)/cancel_1 (SOFT_CANCEL).json
  TRV11/Vaipratech/Flow 2 (USER-CANCEL-FLOW)/cancel_2 (CONFIRM_CANCEL).json
  TRV11/Vaipratech/Flow 2 (USER-CANCEL-FLOW)/on_cancel_1.json
  TRV11/Vaipratech/Flow 2 (USER-CANCEL-FLOW)/on_cancel_2.json
Labels: TRV-11

#1645 Protean TRV10 Buyer logs
  .DS_Store
  TRV10/Protean/flow 2(rider_cancel)/cancel_1.json
  TRV10/Protean/flow 2(rider_cancel)/cancel_2.json
  TRV10/Protean/flow 2(rider_cancel)/on_cancel_1.json
  TRV10/Protean/flow 2(rider_cancel)/on_cancel_2.json
  TRV10/Protean/flow 2(rider_cancel)/on_confirm.json
  TRV10/Protean/flow 3(driver_cancel)/on_cancel.json
  TRV10/Protean/flow 3(driver_cancel)/on_confirm.json
  TRV10/Protean/flow_1/confirm.json
  TRV10/Protean/flow_1/init.json
  TRV10/Protean/flow_1/on_confirm.json
  TRV10/Protean/flow_1/on_init.json
  TRV10/Protean/flow_1/on_search.json
  TRV10/Protean/flow_1/on_select.json
  TRV10/Protean/flow_1/on_status_1.json
  TRV10/Protean/flow_1/on_status_2.json
  TRV10/Protean/flow_1/on_status_3.json
  TRV10/Protean/flow_1/on_status_4.json
  TRV10/Protean/flow_1/search.json
  TRV10/Protean/flow_1/select.json
  TRV10/Protean/flow_1/status.json
Labels: TRV-10
