Repository ONDC-Official/verification-logs, pull requests merged in 2024-10, with the labels that each got.

#1622 log submission for Earnest BAP TSP util (GC v2, flow 1 and flow 3)
  logs/Earnest BAP(TSP)(GC v2)/FLOW 3/confirm.json
  logs/Earnest BAP(TSP)(GC v2)/FLOW 3/init.json
  logs/Earnest BAP(TSP)(GC v2)/FLOW 3/on_cancel.json
  logs/Earnest BAP(TSP)(GC v2)/FLOW 3/on_confirm.json
  logs/Earnest BAP(TSP)(GC v2)/FLOW 3/on_init.json
  logs/Earnest BAP(TSP)(GC v2)/FLOW 3/on_search.json
  logs/Earnest BAP(TSP)(GC v2)/FLOW 3/on_select.json
  logs/Earnest BAP(TSP)(GC v2)/FLOW 3/on_status.json
  logs/Earnest BAP(TSP)(GC v2)/FLOW 3/search.json
  logs/Earnest BAP(TSP)(GC v2)/FLOW 3/select.json
  logs/Earnest BAP(TSP)(GC v2)/FLOW 3/status.json
  logs/Earnest BAP(TSP)(GC v2)/Flow 1/confirm.json
  logs/Earnest BAP(TSP)(GC v2)/Flow 1/init.json
  logs/Earnest BAP(TSP)(GC v2)/Flow 1/on_confirm.json
  logs/Earnest BAP(TSP)(GC v2)/Flow 1/on_init.json
  logs/Earnest BAP(TSP)(GC v2)/Flow 1/on_search.json
  logs/Earnest BAP(TSP)(GC v2)/Flow 1/on_select.json
  logs/Earnest BAP(TSP)(GC v2)/Flow 1/on_status.json
  logs/Earnest BAP(TSP)(GC v2)/Flow 1/search.json
  logs/Earnest BAP(TSP)(GC v2)/Flow 1/select.json
  logs/Earnest BAP(TSP)(GC v2)/Flow 1/status.json
Labels: FIS-10

#1665 TRV10 IGM LOGS
  TRV10/Protean/IGM/issue.json
  TRV10/Protean/IGM/issue_close.json
  TRV10/Protean/IGM/issue_status.json
  TRV10/Protean/IGM/on_issue.json
  TRV10/Protean/IGM/on_issue_status.json
Labels: IGM

#1603 Added RSF logs
  TRV11/Chalo/flow-3/on_receiver_recon.json
  TRV11/Chalo/flow-3/on_receiver_recon_correction.json
  TRV11/Chalo/flow-3/receiver_recon.json
  TRV11/Chalo/flow-3/receiver_recon_correction.json
Labels: RSF

#1643 TSP Tech logs for Gift Card
  FIS10/sequelstring/Flow 1(order completion)/confirm_1.json
  FIS10/sequelstring/Flow 1(order completion)/init_1.json
  FIS10/sequelstring/Flow 1(order completion)/on_confirm_1.json
  FIS10/sequelstring/Flow 1(order completion)/on_init_1.json
  FIS10/sequelstring/Flow 1(order completion)/on_search_1.json
  FIS10/sequelstring/Flow 1(order completion)/on_select_1.json
  FIS10/sequelstring/Flow 1(order completion)/search_1.json
  FIS10/sequelstring/Flow 1(order completion)/select_1.json
  FIS10/sequelstring/Flow 1(order completion)/unsolicited_on_status_1.json
  FIS10/sequelstring/Flow 2(full cancellation)/confirm_1.json
  FIS10/sequelstring/Flow 2(full cancellation)/init_1.json
  FIS10/sequelstring/Flow 2(full cancellation)/on_confirm_1.json
  FIS10/sequelstring/Flow 2(full cancellation)/on_init_1.json
  FIS10/sequelstring/Flow 2(full cancellation)/on_search_1.json
  FIS10/sequelstring/Flow 2(full cancellation)/on_select_1.json
  FIS10/sequelstring/Flow 2(full cancellation)/search_1.json
  FIS10/sequelstring/Flow 2(full cancellation)/select_1.json
  FIS10/sequelstring/Flow 2(full cancellation)/unsolicited_on_cancel_1.json
  FIS10/sequelstring/Flow 3(partial cancellation)/confirm_1.json
  FIS10/sequelstring/Flow 3(partial cancellation)/init_1.json
  FIS10/sequelstring/Flow 3(partial cancellation)/on_confirm_1.json
  FIS10/sequelstring/Flow 3(partial cancellation)/on_init_1.json
  FIS10/sequelstring/Flow 3(partial cancellation)/on_search_1.json
  FIS10/sequelstring/Flow 3(partial cancellation)/on_select_1.json
  FIS10/sequelstring/Flow 3(partial cancellation)/search_1.json
  FIS10/sequelstring/Flow 3(partial cancellation)/select_1.json
  FIS10/sequelstring/Flow 3(partial cancellation)/unsolicited_on_update_1.json
Labels: FIS-10

#1493 logs submission for IGM flows
  TRV11/DMRC/IGM/issue_close.json
  TRV11/DMRC/IGM/issue_open.json
  TRV11/DMRC/IGM/issue_status.json
  TRV11/DMRC/IGM/on_issue.json
  TRV11/DMRC/IGM/on_issue_status.json
  TRV11/DMRC/IGM/unsolicited_on_issue_status.json
Labels: FIS-12

#1711 TRV11: NammaYatri IGM Logs
  TRV11/NammaYatri/IGM-Normal Flow/issue.json
  TRV11/NammaYatri/IGM-Normal Flow/issue_close.json
  TRV11/NammaYatri/IGM-Normal Flow/issue_status.json
  TRV11/NammaYatri/IGM-Normal Flow/on_issue.json
  TRV11/NammaYatri/IGM-Normal Flow/on_issue_status.json
Labels: IGM

#1685 TRV10 - PreProd - Quick Ride - Logs for all flows
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/confirm.json
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/init.json
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/on_confirm.json
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/on_init.json
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/on_search.json
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/on_select.json
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/on_status_driver_arrived_pickup.json
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/on_status_driver_enroute_pickup.json
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/on_status_fare_paid_order_completed.json
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/on_status_ride_completed.json
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/on_status_ride_started.json
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/on_update_driver_assigned.json
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/search.json
  TRV10/Quick Ride/Flow-1-SuccessfulRideCompletion/select.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/cancel_confirm.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/cancel_soft.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/confirm.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/init.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/on_cancel_confirm.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/on_cancel_soft.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/on_confirm.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/on_init.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/on_search.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/on_select.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/on_status_driver_enroute_pickup.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/on_update_driver_assigned.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/search.json
  TRV10/Quick Ride/Flow-2-PassengerInitiatedCancellation/select.json
  TRV10/Quick Ride/Flow-3-DriverInitiatedCancellation/confirm.json
  TRV10/Quick Ride/Flow-3-DriverInitiatedCancellation/init.json
  TRV10/Quick Ride/Flow-3-DriverInitiatedCancellation/on_cancel.json
  TRV10/Quick Ride/Flow-3-DriverInitiatedCancellation/on_confirm.json
  TRV10/Quick Ride/Flow-3-DriverInitiatedCancellation/on_init.json
  TRV10/Quick Ride/Flow-3-DriverInitiatedCancellation/on_search.json
  TRV10/Quick Ride/Flow-3-DriverInitiatedCancellation/on_select.json
  TRV10/Quick Ride/Flow-3-DriverInitiatedCancellation/on_status_driver_enroute_pickup.json
  TRV10/Quick Ride/Flow-3-DriverInitiatedCancellation/on_update_driver_assigned.json
  TRV10/Quick Ride/Flow-3-DriverInitiatedCancellation/search.json
  TRV10/Quick Ride/Flow-3-DriverInitiatedCancellation/select.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/confirm.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/init.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/on_confirm.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/on_init.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/on_search.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/on_select.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/on_status_driver_arrived_pickup.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/on_status_driver_enroute_pickup.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/on_status_fare_paid_order_completed.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/on_status_ride_completed.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/on_status_ride_started.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/on_update_driver_assigned.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/on_update_fare_update.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/search.json
  TRV10/Quick Ride/Flow-4-RideCompletionWithFareUpdate/select.json
  TRV10/Quick Ride/IGM/issue.json
  TRV10/Quick Ride/IGM/issue_close.json
  TRV10/Quick Ride/IGM/issue_status.json
  TRV10/Quick Ride/IGM/on_issue.json
  TRV10/Quick Ride/IGM/on_issue_status.json
Labels: TRV-10

#1706 RSF Logs
  TRV11/Yatri/RSF/Flow 1/on_receiver_recon.json
  TRV11/Yatri/RSF/Flow 1/receiver_recon.json
  TRV11/Yatri/RSF/Flow 2 - Correction/on_receiver_recon.json
  TRV11/Yatri/RSF/Flow 2 - Correction/receiver_recon.json
Labels: RSF
