Repository ONDC-Official/verification-logs, pull requests merged in 2025-01, with the labels that each got.

#1828 Boho TRV 11 logs
  TRV11/Boho/Flow 1/confirm.json
  TRV11/Boho/Flow 1/init.json
  TRV11/Boho/Flow 1/on_confirm.json
  TRV11/Boho/Flow 1/on_init.json
  TRV11/Boho/Flow 1/on_search_1.json
  TRV11/Boho/Flow 1/on_search_2.json
  TRV11/Boho/Flow 1/on_select.json
  TRV11/Boho/Flow 1/on_status.json
  TRV11/Boho/Flow 1/search_1.json
  TRV11/Boho/Flow 1/search_2.json
  TRV11/Boho/Flow 1/select.json
  TRV11/Boho/Flow 1/status.json
  TRV11/Boho/Flow 2/cancel_confirm.json
  TRV11/Boho/Flow 2/cancel_soft.json
  TRV11/Boho/Flow 2/confirm.json
  TRV11/Boho/Flow 2/init.json
  TRV11/Boho/Flow 2/on_cancel_confirm.json
  TRV11/Boho/Flow 2/on_cancel_soft.json
  TRV11/Boho/Flow 2/on_confirm.json
  TRV11/Boho/Flow 2/on_init.json
  TRV11/Boho/Flow 2/on_search_1.json
  TRV11/Boho/Flow 2/on_search_2.json
  TRV11/Boho/Flow 2/on_select.json
  TRV11/Boho/Flow 2/on_status.json
  TRV11/Boho/Flow 2/search_1.json
  TRV11/Boho/Flow 2/search_2.json
  TRV11/Boho/Flow 2/select.json
  TRV11/Boho/Flow 2/status.json
  TRV11/Boho/IGM/issue_close.json
  TRV11/Boho/IGM/issue_open.json
  TRV11/Boho/IGM/issue_status.json
  TRV11/Boho/IGM/on_issue.json
  TRV11/Boho/IGM/on_issue_status.json
  TRV11/Boho/IGM/unsolicited_on_issue_status.json
  TRV11/Boho/RSF/Flow1/01_settle.json
  TRV11/Boho/RSF/Flow1/02_on_settle.json
  TRV11/Boho/RSF/Flow1/03_report.json
  TRV11/Boho/RSF/Flow1/04_on_report.json
  TRV11/Boho/RSF/Flow2/01_settle.json
  TRV11/Boho/RSF/Flow2/02_on_settle.json
  TRV11/Boho/RSF/Flow2/03_report.json
  TRV11/Boho/RSF/Flow2/04_on_report.json
  TRV11/Boho/RSF/Flow2/05_recon.json
  TRV11/Boho/RSF/Flow2/06_on_recon.json
  TRV11/Boho/RSF/Flow2/07_settle.json
  TRV11/Boho/RSF/Flow2/08_on_settle.json
  TRV11/Boho/RSF/Flow3/01_settle.json
  TRV11/Boho/RSF/Flow3/02_on_settle.json
  TRV11/Boho/RSF/Flow3/03_report.json
  TRV11/Boho/RSF/Flow3/04_on_report.json
  TRV11/Boho/RSF/Flow3/05_recon.json
  TRV11/Boho/RSF/Flow3/06_on_recon.json
  TRV11/Boho/RSF/Flow4/01_settle.json
  TRV11/Boho/RSF/Flow4/02_on_settle.json
  TRV11/Boho/RSF/Flow4/03_report.json
  TRV11/Boho/RSF/Flow4/04_on_report.json
  TRV11/Boho/RSF/Flow5/01_settle.json
  TRV11/Boho/RSF/Flow5/02_on_settle.json
Labels: TRV-11

#1887 IGM Logs
  logs/StelCoreLogs/IGM/Flow1/issueA1.json
  logs/StelCoreLogs/IGM/Flow1/issueA4.json
  logs/StelCoreLogs/IGM/Flow1/issueA7.json
  logs/StelCoreLogs/IGM/Flow1/issueA9.json
  logs/StelCoreLogs/IGM/Flow1/on_issueA2.json
  logs/StelCoreLogs/IGM/Flow1/on_issueA3.json
  logs/StelCoreLogs/IGM/Flow1/on_issueA5.json
  logs/StelCoreLogs/IGM/Flow1/on_issueA6.json
  logs/StelCoreLogs/IGM/Flow1/on_issueA8.json
  logs/StelCoreLogs/IGM/Flow2/issueA1.json
  logs/StelCoreLogs/IGM/Flow2/issueA4.json
  logs/StelCoreLogs/IGM/Flow2/issueA6.json
  logs/StelCoreLogs/IGM/Flow2/on_issueA2.json
  logs/StelCoreLogs/IGM/Flow2/on_issueA3.json
  logs/StelCoreLogs/IGM/Flow2/on_issueA5.json
  logs/StelCoreLogs/IGM/Flow3/issueA1.json
  logs/StelCoreLogs/IGM/Flow3/issueA4.json
  logs/StelCoreLogs/IGM/Flow3/issueA7.json
  logs/StelCoreLogs/IGM/Flow3/issueA9.json
  logs/StelCoreLogs/IGM/Flow3/on_issueA2.json
  logs/StelCoreLogs/IGM/Flow3/on_issueA3.json
  logs/StelCoreLogs/IGM/Flow3/on_issueA5.json
  logs/StelCoreLogs/IGM/Flow3/on_issueA6.json
  logs/StelCoreLogs/IGM/Flow3/on_issueA8.json
Labels: IGM

#1889 Shoppre IGM logs
  logs/shoppre/IGM/Flow1/issueA1.json
  logs/shoppre/IGM/Flow1/issueA4.json
  logs/shoppre/IGM/Flow1/issueA7.json
  logs/shoppre/IGM/Flow1/issueA9.json
  logs/shoppre/IGM/Flow1/on_issueA2.json
  logs/shoppre/IGM/Flow1/on_issueA3.json
  logs/shoppre/IGM/Flow1/on_issueA5.json
  logs/shoppre/IGM/Flow1/on_issueA6.json
  logs/shoppre/IGM/Flow1/on_issueA8.json
  logs/shoppre/IGM/Flow2/issueA1.json
  logs/shoppre/IGM/Flow2/issueA4.json
  logs/shoppre/IGM/Flow2/issueA6.json
  logs/shoppre/IGM/Flow2/on_issueA2.json
  logs/shoppre/IGM/Flow2/on_issueA3.json
  logs/shoppre/IGM/Flow2/on_issueA5.json
  logs/shoppre/IGM/Flow3/issueA1.json
  logs/shoppre/IGM/Flow3/issueA4.json
  logs/shoppre/IGM/Flow3/issueA7.json
  logs/shoppre/IGM/Flow3/issueA9.json
  logs/shoppre/IGM/Flow3/on_issueA2.json
  logs/shoppre/IGM/Flow3/on_issueA3.json
  logs/shoppre/IGM/Flow3/on_issueA5.json
  logs/shoppre/IGM/Flow3/on_issueA6.json
  logs/shoppre/IGM/Flow3/on_issueA8.json
Labels: IGM

#1840 plotch buyerapp gift card logs
  logs/plotch_buyerapp_giftcard_11_12_24/confirm.json
  logs/plotch_buyerapp_giftcard_11_12_24/init.json
  logs/plotch_buyerapp_giftcard_11_12_24/on_confirm.json
  logs/plotch_buyerapp_giftcard_11_12_24/on_init.json
  logs/plotch_buyerapp_giftcard_11_12_24/on_search.json
  logs/plotch_buyerapp_giftcard_11_12_24/on_select.json
  logs/plotch_buyerapp_giftcard_11_12_24/on_status.json
  logs/plotch_buyerapp_giftcard_11_12_24/search.json
  logs/plotch_buyerapp_giftcard_11_12_24/select.json
  logs/plotch_buyerapp_giftcard_11_12_24/status.json
Labels: FIS-10

#1747 TSP Logs for Airline (ONDC:TRV12)
  TRV12/Sequelstring TSP/Flow1 (1ADT)/confirm.json
  TRV12/Sequelstring TSP/Flow1 (1ADT)/init.json
  TRV12/Sequelstring TSP/Flow1 (1ADT)/on_confirm.json
  TRV12/Sequelstring TSP/Flow1 (1ADT)/on_init.json
  TRV12/Sequelstring TSP/Flow1 (1ADT)/on_search.json
  TRV12/Sequelstring TSP/Flow1 (1ADT)/on_select_1.json
  TRV12/Sequelstring TSP/Flow1 (1ADT)/on_select_2.json
  TRV12/Sequelstring TSP/Flow1 (1ADT)/search.json
  TRV12/Sequelstring TSP/Flow1 (1ADT)/select_1.json
  TRV12/Sequelstring TSP/Flow1 (1ADT)/select_2.json
  TRV12/Sequelstring TSP/Flow2(2ADT 1CHD)/cancel.json
  TRV12/Sequelstring TSP/Flow2(2ADT 1CHD)/confirm.json
  TRV12/Sequelstring TSP/Flow2(2ADT 1CHD)/init.json
  TRV12/Sequelstring TSP/Flow2(2ADT 1CHD)/on_cancel.json
  TRV12/Sequelstring TSP/Flow2(2ADT 1CHD)/on_confirm.json
  TRV12/Sequelstring TSP/Flow2(2ADT 1CHD)/on_init.json
  TRV12/Sequelstring TSP/Flow2(2ADT 1CHD)/on_search.json
  TRV12/Sequelstring TSP/Flow2(2ADT 1CHD)/on_select_1.json
  TRV12/Sequelstring TSP/Flow2(2ADT 1CHD)/on_select_2.json
  TRV12/Sequelstring TSP/Flow2(2ADT 1CHD)/search.json
  TRV12/Sequelstring TSP/Flow2(2ADT 1CHD)/select_1.json
  TRV12/Sequelstring TSP/Flow2(2ADT 1CHD)/select_2.json
Labels: TRV-12

#1807 TRV11 TSP Buyer Logs
  TRV11/Sequelstring/TSP Buyer Metro/Flow 1/confirm.json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 1/init.json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 1/on_confirm.json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 1/on_init.json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 1/on_search(fare).json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 1/on_search(stations).json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 1/on_select.json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 1/search(fare).json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 1/search(stations).json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 1/select.json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/cancel(hard).json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/cancel(soft).json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/confirm.json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/init.json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/on_cancel(hard).json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/on_cancel(soft).json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/on_confirm.json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/on_init.json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/on_search(fare).json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/on_search(stations).json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/on_select.json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/search(fare).json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/search(stations).json
  TRV11/Sequelstring/TSP Buyer Metro/Flow 2/select.json
Labels: TRV-11

#1873 Log testing for Uber buyer metro app
  TRV11/Uber/Flow1/confirm.json
  TRV11/Uber/Flow1/init.json
  TRV11/Uber/Flow1/on_confirm.json
  TRV11/Uber/Flow1/on_init.json
  TRV11/Uber/Flow1/on_search_1.json
  TRV11/Uber/Flow1/on_search_2.json
  TRV11/Uber/Flow1/on_status.json
  TRV11/Uber/Flow1/search_1.json
  TRV11/Uber/Flow1/search_2.json
  TRV11/Uber/Flow1/status.json
  TRV11/Uber/Flow2/cancel_1.json
  TRV11/Uber/Flow2/cancel_2.json
  TRV11/Uber/Flow2/confirm.json
  TRV11/Uber/Flow2/init.json
  TRV11/Uber/Flow2/on_cancel_1.json
  TRV11/Uber/Flow2/on_cancel_2.json
  TRV11/Uber/Flow2/on_confirm.json
  TRV11/Uber/Flow2/on_init.json
  TRV11/Uber/Flow2/on_search_1.json
  TRV11/Uber/Flow2/on_search_2.json
  TRV11/Uber/Flow2/search_1.json
  TRV11/Uber/Flow2/search_2.json
Labels: TRV-11

#1694 Ftcash Pre-Prod Logs Submitted
  FIS12/ftcash/Flow1/confirm.json
  FIS12/ftcash/Flow1/init_1.json
  FIS12/ftcash/Flow1/init_2.json
  FIS12/ftcash/Flow1/init_3.json
  FIS12/ftcash/Flow1/init_4.json
  FIS12/ftcash/Flow1/on_confirm.json
  FIS12/ftcash/Flow1/on_init_1.json
  FIS12/ftcash/Flow1/on_init_2.json
  FIS12/ftcash/Flow1/on_init_3.json
  FIS12/ftcash/Flow1/on_init_4.json
  FIS12/ftcash/Flow1/on_search.json
  FIS12/ftcash/Flow1/on_search_2.json
  FIS12/ftcash/Flow1/on_select_1.json
  FIS12/ftcash/Flow1/on_select_2.json
  FIS12/ftcash/Flow1/search.json
  FIS12/ftcash/Flow1/search_2.json
  FIS12/ftcash/Flow1/select_1.json
  FIS12/ftcash/Flow1/select_2.json
  FIS12/ftcash/Flow1/unsolicited status for E-mandate.json
  FIS12/ftcash/Flow1/unsolicited status for Entity KYC.json
  FIS12/ftcash/Flow1/unsolicited status for Individual KYC.json
  FIS12/ftcash/Flow1/unsolicited status for Loan_agreement.json
  FIS12/ftcash/Flow2PRE_PART_PAYMENT/confirm_1.json
  FIS12/ftcash/Flow2PRE_PART_PAYMENT/on_confirm_1.json
  FIS12/ftcash/Flow2PRE_PART_PAYMENT/on_update_1.json
  FIS12/ftcash/Flow2PRE_PART_PAYMENT/on_update_2.json
  FIS12/ftcash/Flow2PRE_PART_PAYMENT/update_1.json
  FIS12/ftcash/Flow3MISSED_EMI_PAYMENT/confirm_1.json
  FIS12/ftcash/Flow3MISSED_EMI_PAYMENT/on_confirm_1.json
  FIS12/ftcash/Flow3MISSED_EMI_PAYMENT/on_update_1.json
  FIS12/ftcash/Flow3MISSED_EMI_PAYMENT/on_update_2.json
  FIS12/ftcash/Flow3MISSED_EMI_PAYMENT/update_1.json
  FIS12/ftcash/Flow4FORECLOSURE_Within_CoolOff_Period/confirm_1.json
  FIS12/ftcash/Flow4FORECLOSURE_Within_CoolOff_Period/on_confirm_1.json
  FIS12/ftcash/Flow4FORECLOSURE_Within_CoolOff_Period/on_update_1.json
  FIS12/ftcash/Flow4FORECLOSURE_Within_CoolOff_Period/on_update_2.json
  FIS12/ftcash/Flow4FORECLOSURE_Within_CoolOff_Period/update_1.json
  FIS12/ftcash/Flow5FORECLOSURE_Post_Cool_Off_Period/confirm_1.json
  FIS12/ftcash/Flow5FORECLOSURE_Post_Cool_Off_Period/on_confirm_1.json
  FIS12/ftcash/Flow5FORECLOSURE_Post_Cool_Off_Period/on_update_1.json
  FIS12/ftcash/Flow5FORECLOSURE_Post_Cool_Off_Period/on_update_2.json
  FIS12/ftcash/Flow5FORECLOSURE_Post_Cool_Off_Period/update_1.json
  FIS12/ftcash/IGM_Flow/issue.json
  FIS12/ftcash/IGM_Flow/issue_2.json
  FIS12/ftcash/IGM_Flow/issue_status.json
  FIS12/ftcash/IGM_Flow/on_issue.json
  FIS12/ftcash/IGM_Flow/on_issue_status.json
Labels: FIS-12

#1911 IGM log testing for Uber buyer metro app
  TRV11/Uber/IGM/issue_1.json
  TRV11/Uber/IGM/issue_2.json
  TRV11/Uber/IGM/issue_status.json
  TRV11/Uber/IGM/on_issue_1.json
  TRV11/Uber/IGM/on_issue_status.json
Labels: IGM
