Repository ONDC-Official/verification-logs, pull requests merged in 2025-03, with the labels that each got.

#1947 Tummoc logs for TRV10
  TRV10/Tummoc/Flow1(Happy Flow)/confirm.json
  TRV10/Tummoc/Flow1(Happy Flow)/init.json
  TRV10/Tummoc/Flow1(Happy Flow)/on_confirm.json
  TRV10/Tummoc/Flow1(Happy Flow)/on_init.json
  TRV10/Tummoc/Flow1(Happy Flow)/on_search.json
  TRV10/Tummoc/Flow1(Happy Flow)/on_select.json
  TRV10/Tummoc/Flow1(Happy Flow)/on_status_ride_arrived_pickup.json
  TRV10/Tummoc/Flow1(Happy Flow)/on_status_ride_ended.json
  TRV10/Tummoc/Flow1(Happy Flow)/on_status_ride_enroute_pickup.json
  TRV10/Tummoc/Flow1(Happy Flow)/on_status_ride_started.json
  TRV10/Tummoc/Flow1(Happy Flow)/on_update.json
  TRV10/Tummoc/Flow1(Happy Flow)/search.json
  TRV10/Tummoc/Flow1(Happy Flow)/select.json
  TRV10/Tummoc/Flow2(Driver Cancel)/on_cancel.json
  TRV10/Tummoc/Flow3(Rider Cancelled)/cancel.json
  TRV10/Tummoc/Flow3(Rider Cancelled)/confirm_cancel.json
  TRV10/Tummoc/Flow3(Rider Cancelled)/confirm_on_cancel.json
  TRV10/Tummoc/Flow3(Rider Cancelled)/on_cancel.json
Labels: TRV-10

#1916 Mystore Gift Card Seller App Logs
  Gift Cards/Mystore Gift Card Seller/Flow1(Completion)/README.md
  Gift Cards/Mystore Gift Card Seller/Flow1(Completion)/confirm.json
  Gift Cards/Mystore Gift Card Seller/Flow1(Completion)/init.json
  Gift Cards/Mystore Gift Card Seller/Flow1(Completion)/on_confirm.json
  Gift Cards/Mystore Gift Card Seller/Flow1(Completion)/on_init.json
  Gift Cards/Mystore Gift Card Seller/Flow1(Completion)/on_search.json
  Gift Cards/Mystore Gift Card Seller/Flow1(Completion)/on_select.json
  Gift Cards/Mystore Gift Card Seller/Flow1(Completion)/on_status_completed.json
  Gift Cards/Mystore Gift Card Seller/Flow1(Completion)/search.json
  Gift Cards/Mystore Gift Card Seller/Flow1(Completion)/select.json
  Gift Cards/Mystore Gift Card Seller/Flow2(Correction)/README.md
  Gift Cards/Mystore Gift Card Seller/Flow2(Correction)/confirm.json
  Gift Cards/Mystore Gift Card Seller/Flow2(Correction)/init.json
  Gift Cards/Mystore Gift Card Seller/Flow2(Correction)/on_confirm.json
  Gift Cards/Mystore Gift Card Seller/Flow2(Correction)/on_init.json
  Gift Cards/Mystore Gift Card Seller/Flow2(Correction)/on_search.json
  Gift Cards/Mystore Gift Card Seller/Flow2(Correction)/on_select.json
  Gift Cards/Mystore Gift Card Seller/Flow2(Correction)/on_status_completed.json
  Gift Cards/Mystore Gift Card Seller/Flow2(Correction)/on_status_on_hold.json
  Gift Cards/Mystore Gift Card Seller/Flow2(Correction)/on_update.json
  Gift Cards/Mystore Gift Card Seller/Flow2(Correction)/search.json
  Gift Cards/Mystore Gift Card Seller/Flow2(Correction)/select.json
  Gift Cards/Mystore Gift Card Seller/Flow2(Correction)/update.json
  Gift Cards/Mystore Gift Card Seller/Flow3(Cancellation)/README.md
  Gift Cards/Mystore Gift Card Seller/Flow3(Cancellation)/confirm.json
  Gift Cards/Mystore Gift Card Seller/Flow3(Cancellation)/init.json
  Gift Cards/Mystore Gift Card Seller/Flow3(Cancellation)/on_cancel.json
  Gift Cards/Mystore Gift Card Seller/Flow3(Cancellation)/on_confirm.json
  Gift Cards/Mystore Gift Card Seller/Flow3(Cancellation)/on_init.json
  Gift Cards/Mystore Gift Card Seller/Flow3(Cancellation)/on_search.json
  Gift Cards/Mystore Gift Card Seller/Flow3(Cancellation)/on_select.json
  Gift Cards/Mystore Gift Card Seller/Flow3(Cancellation)/on_status_on_hold.json
  Gift Cards/Mystore Gift Card Seller/Flow3(Cancellation)/search.json
  Gift Cards/Mystore Gift Card Seller/Flow3(Cancellation)/select.json
  Gift Cards/Mystore Gift Card Seller/README.md
Labels: FIS-10

#1928 DMRC Metro IGM Pre-Prod Logs
  TRV11/PeLocal/IGM/DMRC/1.issue.json
  TRV11/PeLocal/IGM/DMRC/2.on_issue.json
  TRV11/PeLocal/IGM/DMRC/3.issue_status.json
  TRV11/PeLocal/IGM/DMRC/4.on_issue_status.json
Labels: IGM
