Repository ONDC-Official/verification-logs, pull requests merged in 2025-04, with the labels that each got.

#1927 adding BillDesk RSF 2.0 logs
  logs/BillDesk/flow1/on_report.json
  logs/BillDesk/flow1/on_settle.json
  logs/BillDesk/flow1/report.json
  logs/BillDesk/flow1/settle.json
  logs/BillDesk/flow2/on_recon.json
  logs/BillDesk/flow2/on_report.json
  logs/BillDesk/flow2/on_settle.json
  logs/BillDesk/flow2/on_settle2.json
  logs/BillDesk/flow2/recon.json
  logs/BillDesk/flow2/report.json
  logs/BillDesk/flow2/settle.json
  logs/BillDesk/flow2/settle2.json
  logs/BillDesk/flow3/on_recon.json
  logs/BillDesk/flow3/on_report.json
  logs/BillDesk/flow3/on_settle.json
  logs/BillDesk/flow3/recon.json
  logs/BillDesk/flow3/report.json
  logs/BillDesk/flow3/settle.json
  logs/BillDesk/flow4/on_settle.json
  logs/BillDesk/flow4/settle.json
  logs/BillDesk/flow5/on_settle.json
  logs/BillDesk/flow5/settle.json
Labels: RSF

#1885 Submitting Logs for Katch GO
  logs/KatchGo/flow-1 Happy Flow/confirm.json
  logs/KatchGo/flow-1 Happy Flow/init.json
  logs/KatchGo/flow-1 Happy Flow/on_confirm.json
  logs/KatchGo/flow-1 Happy Flow/on_init.json
  logs/KatchGo/flow-1 Happy Flow/on_search1_chunk1.json
  logs/KatchGo/flow-1 Happy Flow/on_search1_chunk2.json
  logs/KatchGo/flow-1 Happy Flow/on_search1_first_dummy_chunk.json
  logs/KatchGo/flow-1 Happy Flow/on_search2.json
  logs/KatchGo/flow-1 Happy Flow/on_select.json
  logs/KatchGo/flow-1 Happy Flow/on_status_after_ticket_scanned.json
  logs/KatchGo/flow-1 Happy Flow/on_status_before_ticket_scanned.json
  logs/KatchGo/flow-1 Happy Flow/search1.json
  logs/KatchGo/flow-1 Happy Flow/search2.json
  logs/KatchGo/flow-1 Happy Flow/select.json
  logs/KatchGo/flow-1 Happy Flow/status.json
  logs/KatchGo/flow-2 User Cancallation/cancel_confirm.json
  logs/KatchGo/flow-2 User Cancallation/cancel_soft.json
  logs/KatchGo/flow-2 User Cancallation/confirm.json
  logs/KatchGo/flow-2 User Cancallation/init.json
  logs/KatchGo/flow-2 User Cancallation/on_cancel_confirm.json
  logs/KatchGo/flow-2 User Cancallation/on_cancel_soft.json
  logs/KatchGo/flow-2 User Cancallation/on_confirm.json
  logs/KatchGo/flow-2 User Cancallation/on_init.json
  logs/KatchGo/flow-2 User Cancallation/on_search1_chunk1.json
  logs/KatchGo/flow-2 User Cancallation/on_search1_chunk2.json
  logs/KatchGo/flow-2 User Cancallation/on_search1_first_dummy_chunk.json
  logs/KatchGo/flow-2 User Cancallation/on_search2.json
  logs/KatchGo/flow-2 User Cancallation/on_select.json
  logs/KatchGo/flow-2 User Cancallation/on_status_after_ticket_cancalled.json
  logs/KatchGo/flow-2 User Cancallation/on_status_before_ticket_scanned.json
  logs/KatchGo/flow-2 User Cancallation/search1.json
  logs/KatchGo/flow-2 User Cancallation/search2.json
  logs/KatchGo/flow-2 User Cancallation/select.json
  logs/KatchGo/flow-2 User Cancallation/status.json
Labels: TRV-11

#1974 [OLA][Flow1-6 + IGM ] logs for verification
  FIS12/Ola/flow1 (disbursal)/confirm_1.json
  FIS12/Ola/flow1 (disbursal)/init_1.json
  FIS12/Ola/flow1 (disbursal)/init_2.json
  FIS12/Ola/flow1 (disbursal)/init_3.json
  FIS12/Ola/flow1 (disbursal)/on_confirm_1.json
  FIS12/Ola/flow1 (disbursal)/on_init_1.json
  FIS12/Ola/flow1 (disbursal)/on_init_2.json
  FIS12/Ola/flow1 (disbursal)/on_init_3.json
  FIS12/Ola/flow1 (disbursal)/on_search_1.json
  FIS12/Ola/flow1 (disbursal)/on_select_1.json
  FIS12/Ola/flow1 (disbursal)/on_select_2.json
  FIS12/Ola/flow1 (disbursal)/on_status_1.json
  FIS12/Ola/flow1 (disbursal)/on_status_2.json
  FIS12/Ola/flow1 (disbursal)/on_status_3.json
  FIS12/Ola/flow1 (disbursal)/on_status_4.json
  FIS12/Ola/flow1 (disbursal)/on_status_5.json
  FIS12/Ola/flow1 (disbursal)/search_1.json
  FIS12/Ola/flow1 (disbursal)/select_1.json
  FIS12/Ola/flow1 (disbursal)/select_2.json
  FIS12/Ola/flow2 (user-dropoff)/on_search_1.json
  FIS12/Ola/flow2 (user-dropoff)/on_search_2.json
  FIS12/Ola/flow2 (user-dropoff)/on_select_1.json
  FIS12/Ola/flow2 (user-dropoff)/on_select_2.json
  FIS12/Ola/flow2 (user-dropoff)/on_select_3.json
  FIS12/Ola/flow2 (user-dropoff)/on_select_4.json
  FIS12/Ola/flow2 (user-dropoff)/search_1.json
  FIS12/Ola/flow2 (user-dropoff)/search_2.json
  FIS12/Ola/flow2 (user-dropoff)/select_1.json
  FIS12/Ola/flow2 (user-dropoff)/select_2.json
  FIS12/Ola/flow2 (user-dropoff)/select_3.json
  FIS12/Ola/flow2 (user-dropoff)/select_4.json
  FIS12/Ola/flow3 (foreclosure)/on_confirm_1.json
  FIS12/Ola/flow3 (foreclosure)/on_update_1.json
  FIS12/Ola/flow3 (foreclosure)/on_update_2.json
  FIS12/Ola/flow3 (foreclosure)/update_1.json
  FIS12/Ola/flow4 (prepartpayment)/on_confirm_1.json
  FIS12/Ola/flow4 (prepartpayment)/on_update_1.json
  FIS12/Ola/flow4 (prepartpayment)/on_update_2.json
  FIS12/Ola/flow4 (prepartpayment)/update_1.json
  FIS12/Ola/flow5 (missed-emi)/on_confirm_1.json
  FIS12/Ola/flow5 (missed-emi)/on_update_1.json
  FIS12/Ola/flow5 (missed-emi)/on_update_2.json
  FIS12/Ola/flow5 (missed-emi)/update_1.json
  FIS12/Ola/flow6 (order-status)/on_status_1.json
  FIS12/Ola/flow6 (order-status)/status_1.json
  FIS12/Ola/igm/issue_1.json
  FIS12/Ola/igm/issue_2_close.json
  FIS12/Ola/igm/issue_status_1.json
  FIS12/Ola/igm/on_issue_1.json
  FIS12/Ola/igm/on_issue_status.json
Labels: FIS-12

#1738 feat: Earnest ISP IGM logs
  logs/Earnest BAP(TSP)(GC v2)/IGM/issue(closing).json
  logs/Earnest BAP(TSP)(GC v2)/IGM/issue.json
  logs/Earnest BAP(TSP)(GC v2)/IGM/issue_status.json
  logs/Earnest BAP(TSP)(GC v2)/IGM/on_issue.json
  logs/Earnest BAP(TSP)(GC v2)/IGM/on_issue_status(seller action).json
  logs/Earnest BAP(TSP)(GC v2)/IGM/on_issue_status.json
Labels: IGM

#1860 WCL-LOG-FinAgg-Buyer-Seller
  DS_Store
  FIS12/FinAgg/Cancellation API Logs Flow/cancel.json
  FIS12/FinAgg/Cancellation API Logs Flow/on_cancel_1.json
  FIS12/FinAgg/Cancellation API Logs Flow/on_update_2.json
  FIS12/FinAgg/Core API Logs Flow/confirm.json
  FIS12/FinAgg/Core API Logs Flow/init_1.json
  FIS12/FinAgg/Core API Logs Flow/init_2.json
  FIS12/FinAgg/Core API Logs Flow/init_3.json
  FIS12/FinAgg/Core API Logs Flow/init_4.json
  FIS12/FinAgg/Core API Logs Flow/on_confirm_1.json
  FIS12/FinAgg/Core API Logs Flow/on_init_1.json
  FIS12/FinAgg/Core API Logs Flow/on_init_2.json
  FIS12/FinAgg/Core API Logs Flow/on_init_3.json
  FIS12/FinAgg/Core API Logs Flow/on_init_4.json
  FIS12/FinAgg/Core API Logs Flow/on_search_1.json
  FIS12/FinAgg/Core API Logs Flow/on_search_2.json
  FIS12/FinAgg/Core API Logs Flow/on_search_3.json
  FIS12/FinAgg/Core API Logs Flow/on_select_1.json
  FIS12/FinAgg/Core API Logs Flow/on_select_2.json
  FIS12/FinAgg/Core API Logs Flow/on_select_3.json
  FIS12/FinAgg/Core API Logs Flow/on_status_init_2.json
  FIS12/FinAgg/Core API Logs Flow/on_status_init_3.json
  FIS12/FinAgg/Core API Logs Flow/on_status_select_1.json
  FIS12/FinAgg/Core API Logs Flow/search_1.json
  FIS12/FinAgg/Core API Logs Flow/search_2.json
  FIS12/FinAgg/Core API Logs Flow/search_3.json
  FIS12/FinAgg/Core API Logs Flow/select_1.json
  FIS12/FinAgg/Core API Logs Flow/select_2.json
  FIS12/FinAgg/Core API Logs Flow/select_3.json
  FIS12/FinAgg/Drawdown Logs Flow/confirm.json
  FIS12/FinAgg/Drawdown Logs Flow/init_1.json
  FIS12/FinAgg/Drawdown Logs Flow/init_2.json
  FIS12/FinAgg/Drawdown Logs Flow/on_confirm.json
  FIS12/FinAgg/Drawdown Logs Flow/on_init_1.json
  FIS12/FinAgg/Drawdown Logs Flow/on_init_2.json
  FIS12/FinAgg/Drawdown Logs Flow/on_update.json
  FIS12/FinAgg/Drawdown Logs Flow/on_update_1.json
  FIS12/FinAgg/Foreclosure API Logs Flow/on_update_1.json
  FIS12/FinAgg/Foreclosure API Logs Flow/on_update_2.json
  FIS12/FinAgg/Foreclosure API Logs Flow/update.json
  FIS12/FinAgg/IGM API Logs Flow/issue.json
  FIS12/FinAgg/IGM API Logs Flow/issue_close.json
  FIS12/FinAgg/IGM API Logs Flow/issue_status.json
  FIS12/FinAgg/IGM API Logs Flow/on_issue.json
  FIS12/FinAgg/IGM API Logs Flow/on_issue_status.json
  FIS12/FinAgg/Missed EMI Payment API Logs Flow/on_update_1.json
  FIS12/FinAgg/Missed EMI Payment API Logs Flow/on_update_2.json
  FIS12/FinAgg/Missed EMI Payment API Logs Flow/on_update_3.json
  FIS12/FinAgg/Missed EMI Payment API Logs Flow/update.json
  FIS12/FinAgg/Pre-Part Payment API Logs Flow/on_update_1.json
  FIS12/FinAgg/Pre-Part Payment API Logs Flow/on_update_2.json
  FIS12/FinAgg/Pre-Part Payment API Logs Flow/on_update_3.json
  FIS12/FinAgg/Pre-Part Payment API Logs Flow/update.json
Labels: FIS-12
