Repository ONDC-Official/verification-logs, pull requests merged in 2025-05, with the labels that each got.

#1733 FIS13
  FIS13/Godigit/FLOW 1/confirm.json
  FIS13/Godigit/FLOW 1/init_1.json
  FIS13/Godigit/FLOW 1/init_2.json
  FIS13/Godigit/FLOW 1/on_confirm.json
  FIS13/Godigit/FLOW 1/on_init_1.json
  FIS13/Godigit/FLOW 1/on_init_2.json
  FIS13/Godigit/FLOW 1/on_search_1.json
  FIS13/Godigit/FLOW 1/on_search_2.json
  FIS13/Godigit/FLOW 1/on_select_1.json
  FIS13/Godigit/FLOW 1/on_select_2.json
  FIS13/Godigit/FLOW 1/on_select_3.json
  FIS13/Godigit/FLOW 1/on_status_1.json
  FIS13/Godigit/FLOW 1/on_status_2.json
  FIS13/Godigit/FLOW 1/on_status_3.json
  FIS13/Godigit/FLOW 1/search_1.json
  FIS13/Godigit/FLOW 1/search_2.json
  FIS13/Godigit/FLOW 1/select_1.json
  FIS13/Godigit/FLOW 1/select_2.json
  FIS13/Godigit/FLOW 1/select_3.json
  FIS13/Godigit/FLOW 1/status_1.json
  FIS13/Godigit/FLOW 1/status_2.json
  FIS13/Godigit/FLOW 1/status_3.json
  FIS13/Godigit/FLOW 4/cancel.json
  FIS13/Godigit/FLOW 4/on_cancel.json
  FIS13/Godigit/FLOW 4/on_confirm.json
  FIS13/Godigit/FLOW 4/on_update.json
  FIS13/Godigit/IGM/issue.json
  FIS13/Godigit/IGM/issue2.json
  FIS13/Godigit/IGM/issue_status.json
  FIS13/Godigit/IGM/on_issue.json
  FIS13/Godigit/IGM/on_issue_status.json
Labels: FIS-13

#1926 Xpressbaazaar-(FIS14)Investment logs
  FIS14/Xpressbaazaar/Flow 1_search(Full-Pull)/on_search.json
  FIS14/Xpressbaazaar/Flow 1_search(Full-Pull)/search.json
  FIS14/Xpressbaazaar/Flow 2_Increment_search/on_search.json
  FIS14/Xpressbaazaar/Flow 2_Increment_search/search.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/10_on_select.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/11_init.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/12_on_init.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/13_confirm.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/14_on_confirm.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/15_on_status.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/16_on_update.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/1_select.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/2_on_select.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/3_select.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/4_on_select.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/5_on_status.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/6_select.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/7_on_select.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/8_on_status.json
  FIS14/Xpressbaazaar/Flow 3_Sip_creation_new_folio_with_kyc/9_select.json
  FIS14/Xpressbaazaar/Flow 4_sip_instalment (fulfillment success will be covered)/1_on_update.json
  FIS14/Xpressbaazaar/Flow 4_sip_instalment (fulfillment success will be covered)/2_on_confirm.json
  FIS14/Xpressbaazaar/Flow 4_sip_instalment (fulfillment success will be covered)/3_on_status.json
  FIS14/Xpressbaazaar/Flow 4_sip_instalment (fulfillment success will be covered)/4_on_update.json
  FIS14/Xpressbaazaar/Flow 6_lumpsum_existing_folio/1_select.json
  FIS14/Xpressbaazaar/Flow 6_lumpsum_existing_folio/2_on_select.json
  FIS14/Xpressbaazaar/Flow 6_lumpsum_existing_folio/3_init.json
  FIS14/Xpressbaazaar/Flow 6_lumpsum_existing_folio/4_on_init.json
  FIS14/Xpressbaazaar/Flow 6_lumpsum_existing_folio/5_confirm.json
  FIS14/Xpressbaazaar/Flow 6_lumpsum_existing_folio/6_on_confirm.json
  FIS14/Xpressbaazaar/Flow 6_lumpsum_existing_folio/7_on_status.json
  FIS14/Xpressbaazaar/Flow 6_lumpsum_existing_folio/8_on_update.json
  FIS14/Xpressbaazaar/Flow 7_lumpsum_payment_retry /1_select.json
  FIS14/Xpressbaazaar/Flow 7_lumpsum_payment_retry /2_on_select.json
  FIS14/Xpressbaazaar/Flow 7_lumpsum_payment_retry /3_init.json
  FIS14/Xpressbaazaar/Flow 7_lumpsum_payment_retry /4_on_init.json
  FIS14/Xpressbaazaar/Flow 7_lumpsum_payment_retry /5_confirm.json
  FIS14/Xpressbaazaar/Flow 7_lumpsum_payment_retry /6_on_confirm.json
  FIS14/Xpressbaazaar/Flow 7_lumpsum_payment_retry /7_on_update.json
  FIS14/Xpressbaazaar/Flow 7_lumpsum_payment_retry /8_update.json
  FIS14/Xpressbaazaar/Flow 7_lumpsum_payment_retry /9_on_update.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_failure/1_select.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_failure/2_on_select.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_failure/3_init.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_failure/4_on_init.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_failure/5_confirm.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_failure/6_on_confirm.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_failure/7_on_update.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_success/1_select.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_success/2_on_select.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_success/3_init.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_success/4_on_init.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_success/5_confirm.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_success/6_on_confirm.json
  FIS14/Xpressbaazaar/Flow_8_Redemption_&_redemption_failure/Redemption_success/7_on_update.json
  FIS14/Xpressbaazaar/IGM/1_issue.json
  FIS14/Xpressbaazaar/IGM/2_on_issue.json
  FIS14/Xpressbaazaar/IGM/3_issue_status.json
  FIS14/Xpressbaazaar/IGM/4_on_issue_status.json
  FIS14/Xpressbaazaar/IGM/5_issue.json
Labels: FIS-14

#2018 Earnest IGM v2 logs
  logs/Earnest IGM v2/flow-1/issue_closed.json
  logs/Earnest IGM v2/flow-1/issue_info_provided.json
  logs/Earnest IGM v2/flow-1/issue_open.json
  logs/Earnest IGM v2/flow-1/issue_resolution_accepted.json
  logs/Earnest IGM v2/flow-1/issue_status.json
  logs/Earnest IGM v2/flow-1/on_issue_info_required.json
  logs/Earnest IGM v2/flow-1/on_issue_processing_1.json
  logs/Earnest IGM v2/flow-1/on_issue_processing_2.json
  logs/Earnest IGM v2/flow-1/on_issue_resolution_proposed.json
  logs/Earnest IGM v2/flow-1/on_issue_resolved.json
  logs/Earnest IGM v2/flow-1/on_issue_status.json
  logs/Earnest IGM v2/flow-1/report.json
  logs/Earnest IGM v2/flow-2/issue_closed.json
  logs/Earnest IGM v2/flow-2/issue_escalation.json
  logs/Earnest IGM v2/flow-2/issue_gro_resolution_accepted.json
  logs/Earnest IGM v2/flow-2/issue_info_provided.json
  logs/Earnest IGM v2/flow-2/issue_open.json
  logs/Earnest IGM v2/flow-2/issue_resolution_reject.json
  logs/Earnest IGM v2/flow-2/on_issue_escalation.json
  logs/Earnest IGM v2/flow-2/on_issue_gro_resolution_provide.json
  logs/Earnest IGM v2/flow-2/on_issue_gro_resolved.json
  logs/Earnest IGM v2/flow-2/on_issue_info_requested.json
  logs/Earnest IGM v2/flow-2/on_issue_open.json
  logs/Earnest IGM v2/flow-2/on_issue_processing.json
  logs/Earnest IGM v2/flow-2/on_issue_resolution_provided.json
  logs/Earnest IGM v2/flow-2/on_issue_resolution_rejected.json
  logs/Earnest IGM v2/flow-2/report.json
Labels: IGM

#2016 Mondee ONDC Buyer FLow logs Submission
  TRV14/MONDEE_BUYER_SELLER_LOGS/Cancellation_rejected/Cancellation_Rejected_Log_Verification_Report.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Cancellation_rejected/cancel.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Cancellation_rejected/on_cancel.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/IGM_Logs/issue_closed.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/IGM_Logs/issue_info_provided.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/IGM_Logs/issue_open.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/IGM_Logs/issue_resolution_accepted.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/IGM_Logs/issue_status.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/IGM_Logs/log_validation_report_igm.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/IGM_Logs/on_issue_info_required.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/IGM_Logs/on_issue_processing_1.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/IGM_Logs/on_issue_processing_2.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/IGM_Logs/on_issue_resolution_proposed.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/IGM_Logs/on_issue_resolved.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/IGM_Logs/on_issue_status.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Partial_cancellation_flow/Partial_Cancellation_Log_Verification_Report.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Partial_cancellation_flow/on_update.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Partial_cancellation_flow/on_update1.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Partial_cancellation_flow/update.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Partial_cancellation_flow/update1.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Purchase_journey/Purchase_Journey_Log_Validation_report.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Purchase_journey/confirm.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Purchase_journey/init.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Purchase_journey/on_confirm.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Purchase_journey/on_init.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Purchase_journey/on_select.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Purchase_journey/on_status.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Purchase_journey/select.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Purchase_journey/status.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Seller_app_pagination/on_search.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Seller_app_pagination/on_search1.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Seller_app_pagination/on_search2.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Seller_app_pagination/on_search3.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Seller_app_pagination/on_search4.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Seller_app_pagination/pagination_log_validation_report.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Seller_app_pagination/search.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Technical_cancellation_flow/Technical_Cancellation_Log_Validation_report.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Technical_cancellation_flow/cancel.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Technical_cancellation_flow/cancel1.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Technical_cancellation_flow/on_cancel.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Technical_cancellation_flow/on_cancel1.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Technical_cancellation_flow/on_confirm.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Technical_cancellation_flow/on_status.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/Technical_cancellation_flow/status.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/User_cancellation_flow/User_Cancellation_Log_Verification_Report.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/User_cancellation_flow/cancel.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/User_cancellation_flow/cancel1.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/User_cancellation_flow/on_cancel.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/User_cancellation_flow/on_cancel1.json
  TRV14/MONDEE_BUYER_SELLER_LOGS/User_cancellation_flow/on_confirm.json
Labels: Incomplete, TRV-14

#1960 Uploaded the Old IGM logs
  TRV10/ChooseApp/IGM/1_issue.json
  TRV10/ChooseApp/IGM/2_on_issue.json
  TRV10/ChooseApp/IGM/3_on_issue.json
  TRV10/ChooseApp/IGM/4_issue.json
  TRV10/ChooseApp/IGM/5_on_issue.json
  TRV10/ChooseApp/IGM/6_on_issue.json
  TRV10/ChooseApp/IGM/7_issue.json
  TRV10/ChooseApp/IGM/8_on_issue.json
  TRV10/ChooseApp/IGM/9_issue.json
Labels: IGM
